<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
   default-init-method="init" default-destroy-method="destroy">

	<bean id="student" class="com.example.di.Student" scope="prototype">
		<property name="name" value="DELHI"></property>
		<property name="email" value="1"></property>
		<property name="id" value="DELHI"></property>
		<property name="marks" ref="mark"></property>
	</bean>
	
	<bean id="mark" class="com.example.di.Marks">
		<property name="mO" value="85"></property>
	</bean>

</beans>